<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Author Registration page</h2>
    <form action="/author" method="post">
        <p>Name: <input type="text" name="name" id=""></p>
        <p>Author Description: <textarea name="details" id="" cols="30" rows="10"></textarea></p>
        <button>click to register</button>
        
    </form>
</body>
</html>