<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Add new book</h2>
    <form action="/author/<%= id %>/books " method="post">
        <p>Title: <input type="text" name="title" id=""></p>
       <p>Book Type: <input type="radio" name="booktype" id="" value="friction"> friction
                      <input type="radio" name="booktype" id="" value="non-friction"> nonfriction
    </p>
    <p>Genres: <input type="text" name="genres" id=""></p>
    <p>Book Language: <input type="text" name="booklanguage" id=""></p>
    <p>Book Description: <textarea name="bookdesc" id="" cols="30" rows="10"></textarea></p>
     <button>submit</button>
</form>
</body>
</html>